<div class="content" ng-controller="DemoController">
    <div class="panel panel-primary custom-panel">
        <div class="panel-heading">
            <strong><i class="fa fa-chevron-right" aria-hidden="true"></i> {{data.panelTitle}}</strong>
        </div>
        <div class="panel-body">
            
            <ul class="list-inline">
                <li><span>Sample action bindings</span></li>
                <li>
                    <input class="btn btn-primary" type="button" value="Alert!" ng-click="fn.alert('Clicked alert')"></li>
                <li>
                    <input class="btn btn-primary" type="button" value="Echo" ng-click="fn.echo()">
                </li>
                <li>
                    <input class="input-big" ng-model="data.text"></input>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <span class="input-group-addon">Info</span>
                <input type="text" class="form-control" ng-model="data.status" readonly>
            </div>
        </div>
    </div>
</div>